.s-archive-contacts {
  position: relative;
  z-index: 1;
  &__bg {
    position: absolute;
    width: 730px;
    display: block;
    left: -105px;
    bottom: 95px;
    z-index: -1;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    row-gap: 70px;
    max-width: calc(100% - 456px);
    margin-left: auto;
    @include laptop {
      margin-left: 0;
      max-width: none;
    }
    @include laptop-middle {
      gap: 40px;
    }
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }
    @include tablet-min {
      grid-template-columns: 1fr;
      gap: 30px;
    }
  }
  &__buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    row-gap: 30px;
    max-width: calc(100% - 456px);
    margin-left: auto;
    margin-top: 70px;
    @include laptop {
      margin-left: 0;
      max-width: none;
      gap: 30px;
    }
    @include laptop-min {
      margin-top: 50px;
    }
    @include tablet {
      margin-top: 30px;
      grid-template-columns: repeat(2, 1fr);
    }
    @include tablet-min {
      grid-template-columns: 1fr;
      gap: 20px;
    }
  }
  &__item {
    @include tablet {
      &._none {
        display: none;
      }
    }
    a {
      transition: opacity 0.5s ease;
      @include hover {
        opacity: 0.7;
      }
    }
  }
  &__item-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
    opacity: 0.5;
    margin: 0px 0px 20px 0px;
  }
  &__tel {
    font-weight: 700;
    font-size: 28px;
    line-height: 145%;
    @include laptop-middle {
      font-size: 24px;
    }
  }
  &__item-social {
    display: flex;
    gap: 25px;
  }
  &__social-btn {
    width: 25px;
    height: 25px;

    svg {
      width: 100%;
      height: 100%;
    }
  }
  &__content {
    font-size: 20px;
    line-height: 145%;

    @include laptop-middle {
      font-size: 18px;
    }
  }
  &__map {
    width: 100%;
    height: 550px;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 70px;

    @include laptop-min {
      height: 400px;
      margin-top: 50px;
    }
    @include tablet {
      margin-top: 40px;
    }
  }
}
