.s-archive-services {
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;

    @include laptop {
      gap: 40px;
    }
    @include laptop-middle {
      grid-template-columns: repeat(2, 1fr);
    }
    @include laptop-min {
      gap: 30px;
    }
    @include tablet-min {
      grid-template-columns: 1fr;
    }
  }
}
