.s-price {
  &__table {
    width: 1400px;
    max-width: 100%;
    margin: 0 auto;
  }
  &__table-head {
    display: flex;
    gap: 30px;
    border-bottom: 1px solid rgba(79, 75, 72, 0.2);
    background: rgba(180, 153, 123, 0.2);
    @include tablet-min {
      display: none;
    }
  }
  [data-more-item] {
    &:nth-child(even) {
      .s-price__table-row {
        background-color: transparent;
      }
    }
  }
  &__table-cell {
    padding: 18px 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    text-transform: uppercase;
    &:first-child {
      flex: 0 1 63%;
    }
    &:last-child {
      flex: 1;
    }

    @include tablet-min {
      padding: 0;
      &:first-child {
        flex: none;
        width: 100%;
        font-weight: 600;
      }
    }
  }
  &__table-row {
    display: flex;
    gap: 30px;
    border-bottom: 1px solid rgba(79, 75, 72, 0.2);
    background-color: white;

    @include tablet-min {
      gap: 15px;
      flex-wrap: wrap;
      padding: 20px 15px;
    }
  }
  &__btn-more {
    margin: 70px auto 0px auto;
    @include laptop-min {
      margin-top: 50px;
    }
    @include tablet {
      margin-top: 30px;
    }
    @include tablet-min {
      width: 100%;
    }
  }
}
