.body-hidden {
  overflow: hidden;
  touch-action: none;
}
.body {
  font-family: "Evolventa", sans-serif;
  color: var(--dark);
  background-color: var(--white);
}

.sect-m {
  margin: 140px 0px;
  @include laptop-middle {
    margin: 120px 0px;
  }
  @include laptop-min {
    margin: 100px 0px;
  }
  @include tablet {
    margin: 80px 0px;
  }
  @include tablet-min {
    margin: 60px 0px;
  }
}
.sect-p {
  padding: 140px 0px;
  @include laptop-middle {
    padding: 120px 0px;
  }
  @include laptop-min {
    padding: 100px 0px;
  }
  @include tablet {
    padding: 80px 0px;
  }
  @include tablet-min {
    padding: 60px 0px;
  }
}

.sect-head {
  margin-bottom: 70px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  @include laptop-middle {
    margin-bottom: 50px;
  }
  @include laptop-min {
    margin-bottom: 40px;
  }
  @include tablet {
    margin-bottom: 30px;
  }
  .s-title {
    margin-bottom: 50px !important;
    @include tablet {
      margin-bottom: 25px !important;
    }
  }
}

._tr {
  border-top-right-radius: 200px !important;
  @include tablet {
    border-top-right-radius: 100px !important;
  }
}
._br {
  border-bottom-right-radius: 200px !important;
  @include tablet {
    border-bottom-right-radius: 100px !important;
  }
}
._tl {
  border-top-left-radius: 200px !important;
  @include tablet {
    border-top-left-radius: 100px !important;
  }
}
._bl {
  border-bottom-left-radius: 200px !important;
  @include tablet {
    border-bottom-left-radius: 100px !important;
  }
}

._tr-b {
  border-top-right-radius: 280px !important;
  @include tablet {
    border-top-right-radius: 180px !important;
  }
}
._br-b {
  border-bottom-right-radius: 280px !important;
  @include tablet {
    border-bottom-right-radius: 180px !important;
  }
}
._tl-b {
  border-top-left-radius: 280px !important;
  @include tablet {
    border-top-left-radius: 180px !important;
  }
}
._bl-b {
  border-bottom-left-radius: 280px !important;
  @include tablet {
    border-bottom-left-radius: 180px !important;
  }
}

.content {
  font-size: 18px;
  line-height: 145%;
  margin: 0;

  @include tablet {
    font-size: 16px;
  }

  p {
    margin: 0;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
