<section class="s-about sect-m">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title s-about__title">
        Yumi spa - спа-салон премиум-класса в Казани
      </h2>
      <p class="content">
        Погрузитесь в мир безмятежности с нашими спа-программами, где каждая
        процедура для лица, волос и тела – это симфония чувственного
        наслаждения. Путешествие начинается с ароматерапии, сотканной из
        тончайших нитей натуральных масел, и умиротворяющего акустического фона.
        Затем, словно ласковое прикосновение ветра, следует мягкий, но глубокий
        массаж головы, шеи и плеч. Под чуткими руками мастера пробуждаются
        ключевые точки и меридианы, оживляется лимфоток, и кровь начинает свой
        животворный танец.
      </p>
    </div>
    <div class="s-about__slider-wrapper">
      <div class="slider-btn _prev _linear">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-arrow-prev"></use>
        </svg>
      </div>
      <div class="slider-btn _next _linear">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
        </svg>
      </div>
      <div class="swiper s-about__slider">
        <div class="swiper-wrapper">
          <a
            href="@img/about.jpg"
            data-fancybox="about-gallery"
            class="swiper-slide s-about__slide _tr"
          >
            <img src="@img/about.jpg" alt="image" />
          </a>
          <a
            href="@img/about-2.jpg"
            data-fancybox="about-gallery"
            class="swiper-slide s-about__slide"
          >
            <img src="@img/about-2.jpg" alt="image" />
          </a>
          <a
            href="@img/about-2.jpg"
            data-fancybox="about-gallery"
            class="swiper-slide s-about__slide _br"
          >
            <img src="@img/about-2.jpg" alt="image" />
          </a>
          <a
            href="@img/about-2.jpg"
            data-fancybox="about-gallery"
            class="swiper-slide s-about__slide _bl"
          >
            <img src="@img/about-2.jpg" alt="image" />
          </a>
          <a
            href="@img/about.jpg"
            data-fancybox="about-gallery"
            class="swiper-slide s-about__slide _tl"
          >
            <img src="@img/about.jpg" alt="image" />
          </a>
          <a
            href="@img/about-2.jpg"
            data-fancybox="about-gallery"
            class="swiper-slide s-about__slide"
          >
            <img src="@img/about-2.jpg" alt="image" />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>