<section class="s-archive-contacts sect-m _mt-off">
  <img src="@img/archive-contacts-bg.png" alt="image" class="s-archive-contacts__bg">
  <div class="container">
    <div class="page-head">
      <div class="aioseo-breadcrumbs">
        <span class="aioseo-breadcrumb">
          <a href="/">Главная</a>
        </span>
        <span class="aioseo-breadcrumb-separator">–</span>
        <span class="aioseo-breadcrumb">Контакты</span>
      </div>
      <div class="page-head__body">
        <h1 class="m-title">Контакты</h1>
      </div>
    </div>
    <div class="s-archive-contacts__grid">
      <div class="s-archive-contacts__item">
        <h3 class="s-archive-contacts__item-title">Телефон для записи</h3>
        <a href="tel:+79033073311" class="s-archive-contacts__tel">
          +7 (903) 307-33-11
        </a>
      </div>
      <div class="s-archive-contacts__item">
        <h3 class="s-archive-contacts__item-title">Наши соц. сети</h3>
        <div class="s-archive-contacts__item-social">
          <a href="#" target="_blank" class="s-archive-contacts__social-btn">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-tg"></use>
            </svg>
          </a>
          <a href="#" target="_blank" class="s-archive-contacts__social-btn">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-wh"></use>
            </svg>
          </a>
          <a href="#" target="_blank" class="s-archive-contacts__social-btn">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-vk"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="s-archive-contacts__item _none"></div>
      <div class="s-archive-contacts__item">
        <h3 class="s-archive-contacts__item-title">E-mail</h3>
        <a
          href="mailto:evgewa_loy@hotmail.com"
          class="s-archive-contacts__content"
        >
          evgewa_loy@hotmail.com
        </a>
      </div>
      <div class="s-archive-contacts__item">
        <h3 class="s-archive-contacts__item-title">Мы находимся по адресу</h3>
        <div class="s-archive-contacts__content">
          Казань, ул. Спартаковская, 14
        </div>
      </div>
      <div class="s-archive-contacts__item">
        <h3 class="s-archive-contacts__item-title">График работы</h3>
        <div class="s-archive-contacts__content">
          Пн - Пт: с 09:00 до 19:00
          <br />
          Сб - Вс: с 10:00 до 18:00
        </div>
      </div>
    </div>
    <div class="s-archive-contacts__buttons">
      <a href="#" target="_blank" class="btn-s _outline">Проложить маршрут</a>
      <a href="#" target="_blank" class="btn-s _outline">Заказать такси</a>
      <a href="@img/about-2.jpg" download class="btn-s _outline">Наши реквизиты</a>
    </div>
    <div class="s-archive-contacts__map" data-zoom="17" data-center="[55.777089068971875,49.13440549999997]" id="map"></div>
  </div>
</section>
