<section class="s-archive-services sect-m _mt-off">
  <div class="container">
    <div class="page-head">
      <div class="aioseo-breadcrumbs">
        <span class="aioseo-breadcrumb">
          <a href="/">Главная</a>
        </span>
        <span class="aioseo-breadcrumb-separator">–</span>
        <span class="aioseo-breadcrumb">Spa-программы</span>
      </div>
      <div class="page-head__body">
        <h1 class="m-title">Spa-программы</h1>
        <div class="page-head__categories">
          <a href="#" class="btn-s _active">Все программы</a>
          <a href="#" class="btn-s">Для мужчин</a>
          <a href="#" class="btn-s">Для женщин</a>
          <a href="#" class="btn-s">Для детей</a>
        </div>
      </div>
    </div>
    <div class="s-archive-services__grid">
      <a href="#" class="card-service">
        <img
          src="@img/service.jpg"
          alt="image"
          class="card-service__img _tr-b _br-b"
        />
        <div class="card-service__circle">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
          </svg>
        </div>
        <h5 class="card-service__title">Массаж всего тела</h5>
        <ul class="list card-service__list">
          <li>для одного</li>
          <li>90 мин</li>
        </ul>
      </a>
      <a href="#" class="card-service">
        <img
          src="@img/service.jpg"
          alt="image"
          class="card-service__img _tr-b"
        />
        <div class="card-service__circle">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
          </svg>
        </div>
        <h5 class="card-service__title">Soft skin</h5>
        <ul class="list card-service__list">
          <li>для одного / для двоих</li>
          <li>30 мин</li>
        </ul>
      </a>
      <a href="#" class="card-service">
        <img
          src="@img/service.jpg"
          alt="image"
          class="card-service__img _bl-b"
        />
        <div class="card-service__circle">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
          </svg>
        </div>
        <h5 class="card-service__title">Массаж всего тела</h5>
        <ul class="list card-service__list">
          <li>для одного</li>
          <li>90 мин</li>
        </ul>
      </a>
      <a href="#" class="card-service">
        <img
          src="@img/service.jpg"
          alt="image"
          class="card-service__img _tl-b"
        />
        <div class="card-service__circle">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
          </svg>
        </div>
        <h5 class="card-service__title">Soft skin</h5>
        <ul class="list card-service__list">
          <li>для одного / для двоих</li>
          <li>30 мин</li>
        </ul>
      </a>
      <a href="#" class="card-service">
        <img
          src="@img/service.jpg"
          alt="image"
          class="card-service__img _tl-b _tr-b"
        />
        <div class="card-service__circle">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
          </svg>
        </div>
        <h5 class="card-service__title">Массаж всего тела</h5>
        <ul class="list card-service__list">
          <li>для одного</li>
          <li>90 мин</li>
        </ul>
      </a>
      <a href="#" class="card-service">
        <img
          src="@img/service.jpg"
          alt="image"
          class="card-service__img _br-b"
        />
        <div class="card-service__circle">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
          </svg>
        </div>
        <h5 class="card-service__title">Soft skin</h5>
        <ul class="list card-service__list">
          <li>для одного / для двоих</li>
          <li>30 мин</li>
        </ul>
      </a>
    </div>
  </div>
</section>
