<section class="s-contacts sect-m">
  <img src="@img/contacts-bg.png" alt="image" class="s-contacts__bg">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Где мы находимся</h2>
    </div>
    <div class="s-contacts__info">
      <div class="s-contacts__item">
        <h5 class="s-contacts__item-title">Телефон для записи</h5>
        <a href="tel:+79033073311" class="s-contacts__tel">+7 (903) 307-33-11</a>
      </div>
      <div class="s-contacts__item">
        <h5 class="s-contacts__item-title">Телефон для записи</h5>
        <div class="s-contacts__social">
          <a href="#" target="_blank" class="s-contacts__social-btn">
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-tg'></use>
            </svg>
          </a>
          <a href="#" target="_blank" class="s-contacts__social-btn">
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-wh'></use>
            </svg>
          </a>
          <a href="#" target="_blank" class="s-contacts__social-btn">
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-vk'></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="s-contacts__item">
        <h5 class="s-contacts__item-title">Мы находимся по адресу</h5>
        <p class="s-contacts__item-content">Казань, ул. Спартаковская, 14</p>
      </div>
      <div class="s-contacts__item">
        <h5 class="s-contacts__item-title">График работы</h5>
        <p class="s-contacts__item-content">Пн - Пт: с 09:00 до 19:00, Сб - Вс: с 10:00 до 18:00</p>
      </div>
    </div>
    <div class="s-contacts__grid">
      <div class="s-contacts__map" data-zoom="17" data-center="[55.777089068971875,49.13440549999997]" id="map"></div>
      <a href="//github.com/mediaelement/mediaelement-files/blob/master/big_buck_bunny.mp4?raw=true" data-fancybox class="s-contacts__video">
        <img src="@img/contacts.jpg" alt="image">
        <div class="btn-play">
          <svg>
            <use xlink:href='img/icons/icons.svg#icon-play'></use>
          </svg>
        </div>
      </a>
    </div>
  </div>
</section>