<section class="s-connect sect-p">
  <div class="container">
    <div class="s-connect__wrapper">
      <img src="@img/connect.jpg" alt="image" class="s-connect__img" />
      <div
        class="s-connect__body"
        style="
          background: url(&quot;@img/connect-bg.jpg&quot;) 0 0 / 500px auto
            repeat;
        "
      >
        <h2 class="s-title s-connect__title">Свяжитесь с нами</h2>
        <form action="#" class="form s-connect__form">
          <div class="form__body">
            <div class="input-control">
              <label for="connect-name" class="label-input">Имя</label>
              <input type="text" id="connect-name" class="input" />
            </div>
            <div class="input-control">
              <input
                type="tel"
                placeholder="+7 (___) ___-__-__"
                class="input"
              />
            </div>
            <input
              type="checkbox"
              id="connect-policy"
              checked
              class="input-policy"
            />
            <label for="connect-policy" class="label-policy">
              <span>
                Я соглашаюсь с
                <a href="#" target="_blank">
                  Политикой обработкиперсональных данных
                </a>
                и
                <a href="#" target="_blank">Политикой конфиденциальности</a>
              </span>
            </label>
          </div>
          <button class="btn-circle _outline form__btn">Отправить</button>
        </form>
      </div>
    </div>
  </div>
</section>
