<section class="s-profile sect-p _pt-off">
  <div class="container">
    <div class="page-head">
      <div class="aioseo-breadcrumbs">
        <span class="aioseo-breadcrumb">
          <a href="/">Главная</a>
        </span>
        <span class="aioseo-breadcrumb-separator">–</span>
        <span class="aioseo-breadcrumb">Анкета</span>
      </div>
      <div class="page-head__body">
        <h1 class="m-title">Анкета нового клиента SPA-салона YUMI</h1>
        <p class="page-head__content">
          Пожалуйста, заполните данную анкету перед началом процедуры. Это
          необходимо для вашей безопасности и максимального комфорта во время
          сеанса.
        </p>
      </div>
    </div>
    <form action="#" class="s-profile__form">
      <div class="s-profile__form-item">
        <div class="s-profile__form-container">
          <h3 class="s-profile__item-title">Личная информация</h3>
          <div class="s-profile__form-wrapper">
            <div class="s-profile__block">
              <div class="s-profile__block-title">Пол</div>

              <input
                type="radio"
                name="Пол"
                value="Мужчина"
                id="gender-man"
                class="input-radio"
              />
              <label for="gender-man" class="label-radio">Мужчина</label>

              <input
                type="radio"
                name="Пол"
                value="Женщина"
                id="gender-woman"
                class="input-radio"
              />
              <label for="gender-woman" class="label-radio">Женщина</label>
            </div>
            <div class="s-profile__block">
              <div class="input-control">
                <input type="text" name="Имя" id="profile-name" class="input" />
                <label for="profile-name" class="label-input">Имя</label>
              </div>
              <div class="input-control">
                <input
                  type="text"
                  name="Фамилия"
                  id="profile-family"
                  class="input"
                />
                <label for="profile-family" class="label-input">Фамилия</label>
              </div>
              <div class="input-control">
                <input
                  type="tel"
                  name="Телефон"
                  placeholder="+7 (___) ___-__-__"
                  class="input"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="s-profile__form-item">
        <div class="s-profile__form-container">
          <h3 class="s-profile__item-title">Общее состояние здоровья</h3>
          <div class="s-profile__form-wrapper">
            <div class="s-profile__block">
              <div class="s-profile__block-title">Вы беременны?</div>

              <input
                type="radio"
                name="Беременность"
                value="Нет"
                id="is-pregnant-off"
                class="input-radio"
              />
              <label for="is-pregnant-off" class="label-radio">Нет</label>

              <input
                type="radio"
                name="Беременность"
                value="Да"
                id="is-pregnant-on"
                class="input-radio"
              />
              <label for="is-pregnant-on" class="label-radio">Да</label>
            </div>
            <div class="s-profile__block">
              <div class="s-profile__block-title">Есть ли у вас аллергии?</div>

              <input
                type="radio"
                name="Есть аллергия"
                value="Нет"
                id="is-allergy-off"
                class="input-radio"
              />
              <label for="is-allergy-off" class="label-radio">Нет</label>

              <input
                type="radio"
                name="Есть аллергия"
                value="Да"
                id="is-allergy-on"
                class="input-radio"
              />
              <label for="is-allergy-on" class="label-radio">Да</label>
              <div class="input-control">
                <input
                  type="text"
                  id="allergy-comm"
                  name="На что аллергия"
                  class="input"
                />
                <label for="allergy-comm" class="label-input">
                  Если да, укажите, на что
                </label>
              </div>
            </div>
            <div class="s-profile__block">
              <div class="s-profile__block-title">
                Имеются ли у вас кожные заболевания, инфекции, вирусы, травмы
                кожи головы или перенесённые операции?
              </div>

              <input
                type="radio"
                name="Болезни или операции"
                value="Нет"
                id="is-disease-off"
                class="input-radio"
              />
              <label for="is-disease-off" class="label-radio">Нет</label>

              <input
                type="radio"
                name="Болезни или операции"
                value="Да"
                id="is-disease-on"
                class="input-radio"
              />
              <label for="is-disease-on" class="label-radio">Да</label>
              <div class="input-control">
                <input
                  type="text"
                  id="disease-comm"
                  name="Уточнение болезни или операции"
                  class="input"
                />
                <label for="disease-comm" class="label-input">
                  Если да, уточните, пожалуйста
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="s-profile__form-item">
        <div class="s-profile__form-container">
          <h3 class="s-profile__item-title">О процедуре SPA для головы</h3>
          <div class="s-profile__form-wrapper">
            <div class="s-profile__block">
              <div class="s-profile__block-title">
                Проходили ли вы ранее SPA процедуры для кожи головы?
              </div>

              <input
                type="radio"
                name="Были ли процедуры ранее"
                value="Нет"
                id="is-procedures-off"
                class="input-radio"
              />
              <label for="is-procedures-off" class="label-radio">Нет</label>

              <input
                type="radio"
                name="Были ли процедуры ранее"
                value="Да"
                id="is-procedures-on"
                class="input-radio"
              />
              <label for="is-procedures-on" class="label-radio">Да</label>
            </div>
            <div class="s-profile__block">
              <div class="s-profile__block-title">
                Знаете ли вы, что процедуры SPA для головы рекомендуется
                проводить за одну неделю до или после окрашивания/химической
                завивки?
              </div>

              <input
                type="radio"
                name="Знает ли о рекоммендации проведения за одну неделю"
                value="Нет"
                id="is-rec-off"
                class="input-radio"
              />
              <label for="is-rec-off" class="label-radio">Нет</label>

              <input
                type="radio"
                name="Знает ли о рекоммендации проведения за одну неделю"
                value="Да"
                id="is-rec-on"
                class="input-radio"
              />
              <label for="is-rec-on" class="label-radio">Да</label>
            </div>
            <div class="s-profile__block">
              <div class="s-profile__block-title">
                Не возражаете ли вы против использования эфирных масел во время
                сеанса (ароматерапия)?
              </div>

              <input
                type="radio"
                name="Возражение против эфирных масел"
                value="Нет"
                id="is-oil-off"
                class="input-radio"
              />
              <label for="is-oil-off" class="label-radio">Нет</label>

              <input
                type="radio"
                name="Возражение против эфирных масел"
                value="Да"
                id="is-oil-on"
                class="input-radio"
              />
              <label for="is-oil-on" class="label-radio">Да</label>
            </div>
            <div class="s-profile__block">
              <div class="s-profile__block-title">
                Что бы вы хотели получить от SPA-сеанса для головы (например:
                расслабление, улучшение состояния кожи головы, снятие стресса и
                т.д.)
              </div>
              <div class="input-control">
                <input type="text" id="get-spa" class="input" />
                <label for="get-spa" class="label-input">
                  Снятие стресса и улучшение состояния кожи головы
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="s-profile__form-item">
        <div class="s-profile__form-container">
          <h3 class="s-profile__item-title">Ваше согласие</h3>
          <div class="s-profile__form-wrapper">
            <div class="s-profile__block">
              <div class="s-profile__block-title">Я понимаю, что:</div>
              <div class="s-profile__block-content">
                <p>
                  Процедура SPA для головы не является медицинским лечением, не
                  заменяет диагностику и не направлена на лечение заболеваний.
                </p>

                <p>
                  В случае любого дискомфорта или боли во время сеанса я
                  обязуюсь немедленно сообщить об этом мастеру для регулировки
                  давления и техники воздействия.
                </p>

                <p>
                  Я сообщил(-а) достоверную информацию о состоянии своего
                  здоровья. В случае утаивания данных, ответственность за
                  возможные последствия лежит на мне.
                </p>

                <p>
                  Я обязуюсь уведомлять специалистов SPA-салона YUMI об
                  изменениях в моем состоянии здоровья в будущем.
                </p>

                <p>
                  Подтверждая это, я даю свое добровольное согласие на
                  проведение процедуры SPA для головы.
                </p>
              </div>
              <div class="input-control">
                <input type="text" id="date-approvel" class="input" />
                <label for="date-approvel" class="label-input">
                  Дата согласия
                </label>
              </div>
            </div>
            <div class="s-profile__block">
              <div class="s-profile__block-title">
                Вы даёте согласие на проведение процедуры SPA для головы
              </div>

              <input
                type="radio"
                name="Согласие на проведение spa процедуры"
                value="Нет"
                id="is-approvel-off"
                class="input-radio"
              />
              <label for="is-procedures-off" class="label-radio">Нет</label>

              <input
                type="radio"
                name="Согласие на проведение spa процедуры"
                value="Да"
                id="is-approvel-on"
                class="input-radio"
              />
              <label for="is-procedures-on" class="label-radio">Да</label>
            </div>
            <div class="s-profile__block">
              <input
                type="checkbox"
                id="order-policy"
                checked
                class="input-policy"
              />
              <label for="order-policy" class="label-policy">
                <span>
                  Я соглашаюсь с
                  <a href="#" target="_blank">
                    Политикой обработкиперсональных данных
                  </a>
                  и
                  <a href="#" target="_blank">Политикой конфиденциальности</a>
                </span>
              </label>
            </div>
          </div>
          <button class="btn-circle _outline s-profile__form-submit">Отправить</button>
        </div>
      </div>
    </form>
  </div>
  <img src="@img/profile-img.png" alt="image" class="s-profile__img">
</section>
