<section class="s-price sect-m">
  <div data-count-show="4" class="container container-more">
    <div class="sect-head">
      <h2 class="s-title">Прайс-лист</h2>
    </div>
    <div class="s-price__table">
      <div class="s-price__table-head">
        <div class="s-price__table-cell">Название услуги</div>
        <div class="s-price__table-cell">Стоимость / длительность</div>
      </div>
      <div data-more-item style="transform: translateY(0); opacity: 1; display: block;">
        <div class="s-price__table-row">
          <div class="s-price__table-cell">
            Антицеллюлитный моделирующий массаж
          </div>
          <div class="s-price__table-cell">2 000 руб. / 60 мин.</div>
        </div>
      </div>
      <div data-more-item style="transform: translateY(0); opacity: 1; display: block;">
        <div class="s-price__table-row">
          <div class="s-price__table-cell">Скрабирование кофейным суфле</div>
          <div class="s-price__table-cell">1 000 руб. / 50 мин.</div>
        </div>
      </div>
      <div data-more-item style="transform: translateY(0); opacity: 1; display: block;">
        <div class="s-price__table-row">
          <div class="s-price__table-cell">
            Антицеллюлитный моделирующий массаж
          </div>
          <div class="s-price__table-cell">2 000 руб. / 60 мин.</div>
        </div>
      </div>
      <div data-more-item style="transform: translateY(0); opacity: 1; display: block;">
        <div class="s-price__table-row">
          <div class="s-price__table-cell">Скрабирование кофейным суфле</div>
          <div class="s-price__table-cell">1 000 руб. / 50 мин.</div>
        </div>
      </div>
      <div data-more-item>
        <div class="s-price__table-row">
          <div class="s-price__table-cell">
            Антицеллюлитный моделирующий массаж
          </div>
          <div class="s-price__table-cell">2 000 руб. / 60 мин.</div>
        </div>
      </div>
      <div data-more-item>
        <div class="s-price__table-row">
          <div class="s-price__table-cell">Скрабирование кофейным суфле</div>
          <div class="s-price__table-cell">1 000 руб. / 50 мин.</div>
        </div>
      </div>
      <div data-more-item>
        <div class="s-price__table-row">
          <div class="s-price__table-cell">
            Антицеллюлитный моделирующий массаж
          </div>
          <div class="s-price__table-cell">2 000 руб. / 60 мин.</div>
        </div>
      </div>
      <div data-more-item>
        <div class="s-price__table-row">
          <div class="s-price__table-cell">Скрабирование кофейным суфле</div>
          <div class="s-price__table-cell">1 000 руб. / 50 мин.</div>
        </div>
      </div>
      <div data-more-item>
        <div class="s-price__table-row">
          <div class="s-price__table-cell">
            Антицеллюлитный моделирующий массаж
          </div>
          <div class="s-price__table-cell">2 000 руб. / 60 мин.</div>
        </div>
      </div>
      <div data-more-item>
        <div class="s-price__table-row">
          <div class="s-price__table-cell">Скрабирование кофейным суфле</div>
          <div class="s-price__table-cell">1 000 руб. / 50 мин.</div>
        </div>
      </div>
    </div>
    <button data-more-btn class="btn-s _satin s-price__btn-more">Показать еще</button>
  </div>
</section>
