<section class="s-service-about sect-m" id="s-service-about">
  <div class="container tabs">
    <div class="sect-head">
      <h2 class="s-title">Об услуге</h2>
      <div class="s-service-about__tabs-nav">
        <button data-tab-btn="tab-1" class="btn-s _active">Этапы</button>
        <button data-tab-btn="tab-2" class="btn-s">Эффект</button>
        <button data-tab-btn="tab-3" class="btn-s">Противопоказания</button>
      </div>
    </div>
    <div data-tab="tab-1" style="opacity: 1" class="_active">
      <div class="s-service-about__grid">
        <div class="s-service-about__item">
          <div class="s-service-about__item-num">1</div>
          <div class="s-service-about__item-content">
            Массаж головы по Китайской технологии
          </div>
        </div>
        <div class="s-service-about__item">
          <div class="s-service-about__item-num">2</div>
          <div class="s-service-about__item-content">
            Аппаратный массаж головы
          </div>
        </div>
        <div class="s-service-about__item">
          <div class="s-service-about__item-num">3</div>
          <div class="s-service-about__item-content">
            Массаж головы гребнями
          </div>
        </div>
        <div class="s-service-about__item">
          <div class="s-service-about__item-num">4</div>
          <div class="s-service-about__item-content">
            Пенный массаж (голова, швз)
          </div>
        </div>
        <div class="s-service-about__item">
          <div class="s-service-about__item-num">5</div>
          <div class="s-service-about__item-content">
            Пенный массаж декольте
          </div>
        </div>
        <div class="s-service-about__item">
          <div class="s-service-about__item-num">6</div>
          <div class="s-service-about__item-content">
            Спа уход для волос (очищение, питание)
          </div>
        </div>
      </div>
    </div>
    <div data-tab="tab-2" style="opacity: 0">
      <div class="s-service-about__grid">
        <div class="s-service-about__item">
          <div class="s-service-about__item-num">1</div>
          <div class="s-service-about__item-content">
            Массаж головы по Китайской технологии
          </div>
        </div>
        <div class="s-service-about__item">
          <div class="s-service-about__item-num">2</div>
          <div class="s-service-about__item-content">
            Аппаратный массаж головы
          </div>
        </div>
        <div class="s-service-about__item">
          <div class="s-service-about__item-num">3</div>
          <div class="s-service-about__item-content">
            Массаж головы гребнями
          </div>
        </div>
        <div class="s-service-about__item">
          <div class="s-service-about__item-num">4</div>
          <div class="s-service-about__item-content">
            Пенный массаж (голова, швз)
          </div>
        </div>
        <div class="s-service-about__item">
          <div class="s-service-about__item-num">5</div>
          <div class="s-service-about__item-content">
            Пенный массаж декольте
          </div>
        </div>
        <div class="s-service-about__item">
          <div class="s-service-about__item-num">6</div>
          <div class="s-service-about__item-content">
            Спа уход для волос (очищение, питание)
          </div>
        </div>
      </div>
    </div>
    <div data-tab="tab-3" style="opacity: 0">
      <div class="s-service-about__grid">
        <div class="s-service-about__item">
          <div class="s-service-about__item-num">1</div>
          <div class="s-service-about__item-content">
            Массаж головы по Китайской технологии
          </div>
        </div>
        <div class="s-service-about__item">
          <div class="s-service-about__item-num">2</div>
          <div class="s-service-about__item-content">
            Аппаратный массаж головы
          </div>
        </div>
        <div class="s-service-about__item">
          <div class="s-service-about__item-num">3</div>
          <div class="s-service-about__item-content">
            Массаж головы гребнями
          </div>
        </div>
        <div class="s-service-about__item">
          <div class="s-service-about__item-num">4</div>
          <div class="s-service-about__item-content">
            Пенный массаж (голова, швз)
          </div>
        </div>
        <div class="s-service-about__item">
          <div class="s-service-about__item-num">5</div>
          <div class="s-service-about__item-content">
            Пенный массаж декольте
          </div>
        </div>
        <div class="s-service-about__item">
          <div class="s-service-about__item-num">6</div>
          <div class="s-service-about__item-content">
            Спа уход для волос (очищение, питание)
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
