<section class="s-services sect-m">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Spa-программы</h2>
    </div>
    <div class="s-services__wrapper">
      <a href="#" class="card-service">
        <img src="@img/service.jpg" alt="image" class="card-service__img _tr-b _br-b" />
        <div class="card-service__circle">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
          </svg>
        </div>
        <h5 class="card-service__title">Массаж всего тела</h5>
        <ul class="list card-service__list">
          <li>для одного</li>
          <li>90 мин</li>
        </ul>
      </a>
      <a href="#" class="card-service">
        <img src="@img/service.jpg" alt="image" class="card-service__img _tr-b" />
        <div class="card-service__circle">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
          </svg>
        </div>
        <h5 class="card-service__title">Soft skin</h5>
        <ul class="list card-service__list">
          <li>для одного / для двоих</li>
          <li>30 мин</li>
        </ul>
      </a>
      <a href="#" class="card-service">
        <img src="@img/service.jpg" alt="image" class="card-service__img _bl-b" />
        <div class="card-service__circle">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
          </svg>
        </div>
        <h5 class="card-service__title">Массаж всего тела</h5>
        <ul class="list card-service__list">
          <li>для одного</li>
          <li>90 мин</li>
        </ul>
      </a>
      <a href="#" class="card-service">
        <img src="@img/service.jpg" alt="image" class="card-service__img _tl-b" />
        <div class="card-service__circle">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
          </svg>
        </div>
        <h5 class="card-service__title">Soft skin</h5>
        <ul class="list card-service__list">
          <li>для одного / для двоих</li>
          <li>30 мин</li>
        </ul>
      </a>
      <a href="#" class="card-service">
        <img src="@img/service.jpg" alt="image" class="card-service__img _tl-b _tr-b" />
        <div class="card-service__circle">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
          </svg>
        </div>
        <h5 class="card-service__title">Массаж всего тела</h5>
        <ul class="list card-service__list">
          <li>для одного</li>
          <li>90 мин</li>
        </ul>
      </a>
      <a href="#" class="card-service">
        <img src="@img/service.jpg" alt="image" class="card-service__img _br-b" />
        <div class="card-service__circle">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
          </svg>
        </div>
        <h5 class="card-service__title">Soft skin</h5>
        <ul class="list card-service__list">
          <li>для одного / для двоих</li>
          <li>30 мин</li>
        </ul>
      </a>
    </div>
    <a href="#" class="btn-circle s-services__btn">Все программы</a>
  </div>
</section>
