<section class="s-spec sect-p">
  <div class="container">
    <div class="s-spec__wrapper">
      <div class="s-spec__item">
        <div class="s-spec__item-title">Стоимость</div>
        <div class="s-spec__item-value">от 5 000 руб.</div>
      </div>
      <div class="s-spec__item">
        <div class="s-spec__item-title">Длитетельность</div>
        <div class="s-spec__item-value">60 - 90 мин.</div>
      </div>
      <div class="s-spec__item">
        <div class="s-spec__item-title">Формат</div>
        <div class="s-spec__item-value">Для одного / Для двоих</div>
      </div>
      <div class="s-spec__item">
        <div class="s-spec__item-title">Стоимость</div>
        <a href="#modal-contr" data-fancybox class="s-spec__item-value">Есть</a>
      </div>
    </div>
  </div>
</section>