<section class="s-stocks sect-p">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Акции</h2>
    </div>
    <div class="s-stocks__wrapper">
      <div class="s-stocks__grid">
        <a href="#" class="card-stock">
          <img src="@img/service.jpg" alt="image" class="card-stock__img" />
          <h5 class="card-stock__title">Массаж всего тела в подарок!</h5>
          <div class="card-stock__date">15.06.2025 - 30.06.2025</div>
          <div class="card-stock__btn">
            <span>Подробнее</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-line-next"></use>
            </svg>
          </div>
        </a>
        <a href="#" class="card-stock">
          <img src="@img/service.jpg" alt="image" class="card-stock__img" />
          <h5 class="card-stock__title">Акция на Soft skin</h5>
          <div class="card-stock__date">15.06.2025 - 30.06.2025</div>
          <div class="card-stock__btn">
            <span>Подробнее</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-line-next"></use>
            </svg>
          </div>
        </a>
        <a href="#" class="card-stock">
          <img src="@img/service.jpg" alt="image" class="card-stock__img" />
          <h5 class="card-stock__title">Perfect body при покупке абонемента</h5>
          <div class="card-stock__date">15.06.2025 - 30.06.2025</div>
          <div class="card-stock__btn">
            <span>Подробнее</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-line-next"></use>
            </svg>
          </div>
        </a>
      </div>
      <a href="#" class="btn-circle _outline s-stocks__btn-all">Все акции</a>
    </div>
  </div>
</section>
