<section
  class="s-team sect-p"
  style="background: url(&quot;@img/team.jpg&quot;) center / cover no-repeat"
>
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Специалисты Yumi Spa</h2>
    </div>
    <div class="s-team__slider-wrapper">
      <div class="slider-btn _prev _linear">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-arrow-prev"></use>
        </svg>
      </div>
      <div class="slider-btn _next _linear">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
        </svg>
      </div>
      <div class="swiper s-team__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="card-spec">
              <img src="@img/spec-1.jpg" alt="image" class="card-spec__img" />
              <img
                src="@img/spec-2.jpg"
                alt="image"
                class="card-spec__img"
              />
              <div class="card-spec__body">
                <h5 class="card-spec__title">Алина Иванова</h5>
                <div class="card-spec__status">Генеральный директор</div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card-spec">
              <img src="@img/spec-1.jpg" alt="image" class="card-spec__img" />
              <img
                src="@img/spec-2.jpg"
                alt="image"
                class="card-spec__img"
              />
              <div class="card-spec__body">
                <h5 class="card-spec__title">Алина Иванова</h5>
                <div class="card-spec__status">Генеральный директор</div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card-spec">
              <img src="@img/spec-1.jpg" alt="image" class="card-spec__img" />
              <img
                src="@img/spec-2.jpg"
                alt="image"
                class="card-spec__img"
              />
              <div class="card-spec__body">
                <h5 class="card-spec__title">Алина Иванова</h5>
                <div class="card-spec__status">Генеральный директор</div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card-spec">
              <img src="@img/spec-1.jpg" alt="image" class="card-spec__img" />
              <img
                src="@img/spec-2.jpg"
                alt="image"
                class="card-spec__img"
              />
              <div class="card-spec__body">
                <h5 class="card-spec__title">Алина Иванова</h5>
                <div class="card-spec__status">Генеральный директор</div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card-spec">
              <img src="@img/spec-1.jpg" alt="image" class="card-spec__img" />
              <img
                src="@img/spec-2.jpg"
                alt="image"
                class="card-spec__img"
              />
              <div class="card-spec__body">
                <h5 class="card-spec__title">Алина Иванова</h5>
                <div class="card-spec__status">Генеральный директор</div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card-spec">
              <img src="@img/spec-1.jpg" alt="image" class="card-spec__img" />
              <img
                src="@img/spec-2.jpg"
                alt="image"
                class="card-spec__img"
              />
              <div class="card-spec__body">
                <h5 class="card-spec__title">Алина Иванова</h5>
                <div class="card-spec__status">Генеральный директор</div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card-spec">
              <img src="@img/spec-1.jpg" alt="image" class="card-spec__img" />
              <img
                src="@img/spec-2.jpg"
                alt="image"
                class="card-spec__img"
              />
              <div class="card-spec__body">
                <h5 class="card-spec__title">Алина Иванова</h5>
                <div class="card-spec__status">Генеральный директор</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-pagination _mob"></div>
  </div>
</section>
