<section class="sect-p s-why" style="background: url('@img/why-bg.png') center / cover no-repeat;">
  <div class="container">
    <h2 class="s-title s-why__title">
      Почему
      <br />
      выбирают нас
    </h2>
    <div class="s-why__grid">
      <article class="s-why__item">
        <img src="@img/why-icon.png" alt="icon" class="s-why__item-icon" />
        <h5 class="s-why__item-title">Премиум обслуживание</h5>
        <p class="s-why__item-content">
          Повседневная практика показывает, что граница обучения кадров влечет
          за собой процесс внедрения и модернизации первоочередных требований.
        </p>
      </article>
      <article class="s-why__item">
        <img src="@img/why-icon.png" alt="icon" class="s-why__item-icon" />
        <h5 class="s-why__item-title">Премиум обслуживание</h5>
        <p class="s-why__item-content">
          Повседневная практика показывает, что граница обучения кадров влечет
          за собой процесс внедрения
        </p>
      </article>
      <article class="s-why__item">
        <img src="@img/why-icon.png" alt="icon" class="s-why__item-icon" />
        <h5 class="s-why__item-title">Премиум обслуживание</h5>
        <p class="s-why__item-content">
          Повседневная практика показывает, что граница обучения кадров влечет
          за собой процесс внедрения и модернизации первоочередных требований.
        </p>
      </article>
      <article class="s-why__item">
        <img src="@img/why-icon.png" alt="icon" class="s-why__item-icon" />
        <h5 class="s-why__item-title">Премиум обслуживание</h5>
        <p class="s-why__item-content">
          Повседневная практика показывает, что граница обучения кадров влечет
          за собой процесс внедрения и модернизации первоочередных требований.
        </p>
      </article>
    </div>
  </div>
</section>
