.btn-reset {
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
  color: inherit;
}

.btn-simple {
  @include flex-center;
  gap: 10px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  outline: none;
  border-radius: 12px;
  padding: 14px 20px;
  width: fit-content;

  font-size: 18px;

  transition: background-color 0.5s ease;

  @include hover {
    background-color: var(--f-gray);
  }
  @include laptop-middle {
    font-size: 16px;
  }

  &._dark {
    background-color: var(--f-gray);

    transition: opacity 0.5s ease;
    @include hover {
      opacity: 0.7;
    }
  }

  svg {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
  }
}

.btn-circle {
  @include flex-center;
  cursor: pointer;
  border: 1px solid var(--primary);
  background-color: var(--primary);
  border-radius: 50%;
  outline: none;
  padding: 30px;
  width: 200px;
  height: 200px;

  font-family: "Ysabeau", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: var(--white);

  transition:
    color 0.5s ease,
    border-color 0.5s ease,
    background-color 0.5s ease;

  @include hover {
    border-color: var(--primary-l);
    background-color: var(--primary-l);
  }

  @include tablet {
    font-size: 18px;
    width: 150px;
    height: 150px;
  }

  &._outline {
    border: 1px solid var(--mongoose);
    background-color: transparent;
    color: var(--dark);

    @include hover {
      background-color: var(--mongoose);
      color: var(--white);
    }
  }
}

.btn-play {
  @include flex-center;
  width: 80px;
  height: 80px;

  border-radius: 50%;
  background-color: var(--primary);
  color: var(--white);

  transition: background-color 0.5s ease;

  @include hover {
    background-color: var(--primary-l);
  }

  svg {
    width: 35px;
    height: 35px;
  }
}

.btn-s {
  @include flex-center;
  cursor: pointer;
  padding: 18px 20px;
  border-radius: 100px;
  background-color: white;
  border: none;
  outline: none;

  font-size: 16px;
  line-height: 120%;
  text-align: center;

  transition:
    color 0.5s ease,
    background-color 0.5s ease;

  @include hover {
    background-color: var(--primary);
    color: var(--white);
  }
  @include tablet {
    padding: 12px 15px;
    font-size: 15px;
  }

  &._active {
    background-color: var(--primary);
    color: var(--white);
  }
  &._primary {
    background-color: var(--primary);
    color: var(--white);
    @include hover {
      background-color: white;
      color: var(--dark);
    }
  }
  &._satin {
    background-color: var(--satin);
    @include hover {
      background-color: var(--primary);
      color: var(--white);
    }
  }
}
