.s-title {
  font-family: "Ysabeau", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 110%;
  text-transform: uppercase;
  margin: 0px 0px 70px 0px;
  @include laptop-middle {
    font-size: 50px;
    margin-bottom: 50px;
  }
  @include laptop-min {
    font-size: 42px;
    margin-bottom: 40px;
  }
  @include tablet {
    font-size: 32px;
    margin-bottom: 30px;
  }
  @include tablet-min {
    font-size: 28px;
  }
}

.m-title {
  font-size: 72px;
  line-height: 110%;
  text-transform: uppercase;
  margin: 0;
  @include laptop-middle {
    font-size: 60px;
  }
  @include laptop-min {
    font-size: 52px;
  }
  @include tablet {
    font-size: 42px;
  }
  @include tablet-min {
    font-size: 32px;
  }
}
